## Notas del curso https://acturio.github.io/amt23_01intro2dsml_py/

In [5]:
from platform import python_version
print(python_version())

3.10.12

In [1]:
import pickle
import pandas as pd
import numpy as np

## Lectura de un archivo .csv

In [2]:
data_csv = pd.read_csv("data/ames/ames.csv")

In [3]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 74 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MS_SubClass         2930 non-null   object
 1   MS_Zoning           2930 non-null   object
 2   Lot_Frontage        2930 non-null   int64
 3   Lot_Area            2930 non-null   int64
 4   Street              2930 non-null   object
 5   Alley               2930 non-null   object
 6   Lot_Shape           2930 non-null   object
 7   Land_Contour        2930 non-null   object
 8   Utilities           2930 non-null   object
 9   Lot_Config          2930 non-null   object
 10  Land_Slope          2930 non-null   object
 11  Neighborhood        2930 non-null   object
 12  Condition_1         2930 non-null   object
 13  Condition_2         2930 non-null   object
 14  Bldg_Type           2930 non-null   object
 15  House_Style         2930 non-null   object
 16  Overall_Cond        2930 non-null   object
 17  Year_Built          2930 non-null   int64
 18  Year_Remod_Add      2930 non-null   int64
 19  Roof_Style          2930 non-null   object
 20  Roof_Matl           2930 non-null   object
 21  Exterior_1st        2930 non-null   object
 22  Exterior_2nd        2930 non-null   object
 23  Mas_Vnr_Type        2930 non-null   object
 24  Mas_Vnr_Area        2930 non-null   int64
 25  Exter_Cond          2930 non-null   object
 26  Foundation          2930 non-null   object
 27  Bsmt_Cond           2930 non-null   object
 28  Bsmt_Exposure       2930 non-null   object
 29  BsmtFin_Type_1      2930 non-null   object
 30  BsmtFin_SF_1        2930 non-null   int64
 31  BsmtFin_Type_2      2930 non-null   object
 32  BsmtFin_SF_2        2930 non-null   int64
 33  Bsmt_Unf_SF         2930 non-null   int64
 34  Total_Bsmt_SF       2930 non-null   int64
 35  Heating             2930 non-null   object
 36  Heating_QC          2930 non-null   object
 37  Central_Air         2930 non-null   object
 38  Electrical          2930 non-null   object
 39  First_Flr_SF        2930 non-null   int64
 40  Second_Flr_SF       2930 non-null   int64
 41  Gr_Liv_Area         2930 non-null   int64
 42  Bsmt_Full_Bath      2930 non-null   int64
 43  Bsmt_Half_Bath      2930 non-null   int64
 44  Full_Bath           2930 non-null   int64
 45  Half_Bath           2930 non-null   int64
 46  Bedroom_AbvGr       2930 non-null   int64
 47  Kitchen_AbvGr       2930 non-null   int64
 48  TotRms_AbvGrd       2930 non-null   int64
 49  Functional          2930 non-null   object
 50  Fireplaces          2930 non-null   int64
 51  Garage_Type         2930 non-null   object
 52  Garage_Finish       2930 non-null   object
 53  Garage_Cars         2930 non-null   int64
 54  Garage_Area         2930 non-null   int64
 55  Garage_Cond         2930 non-null   object
 56  Paved_Drive         2930 non-null   object
 57  Wood_Deck_SF        2930 non-null   int64
 58  Open_Porch_SF       2930 non-null   int64
 59  Enclosed_Porch      2930 non-null   int64
 60  Three_season_porch  2930 non-null   int64
 61  Screen_Porch        2930 non-null   int64
 62  Pool_Area           2930 non-null   int64
 63  Pool_QC             2930 non-null   object
 64  Fence               2930 non-null   object
 65  Misc_Feature        2930 non-null   object
 66  Misc_Val            2930 non-null   int64
 67  Mo_Sold             2930 non-null   int64
 68  Year_Sold           2930 non-null   int64
 69  Sale_Type           2930 non-null   object
 70  Sale_Condition      2930 non-null   object
 71  Sale_Price          2930 non-null   int64
 72  Longitude           2930 non-null   float64
 73  Latitude            2930 non-null   float64
dtypes: float64(2), int64(32), object(40)
memory usage: 1.7+ MB

In [5]:
data_csv.head(5)

,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,Utilities,Lot_Config,...,Fence,Misc_Feature,Misc_Val,Mo_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,31770,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,None,0,5,2010,WD,Normal,215000,-93.619754,42.054035
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,11622,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,6,2010,WD,Normal,105000,-93.619756,42.053014
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,14267,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,Gar2,12500,6,2010,WD,Normal,172000,-93.619387,42.052659
3,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,93,11160,Pave,No_Alley_Access,Regular,Lvl,AllPub,Corner,...,No_Fence,None,0,4,2010,WD,Normal,244000,-93.617320,42.051245
4,Two_Story_1946_and_Newer,Residential_Low_Density,74,13830,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,3,2010,WD,Normal,189900,-93.638933,42.060899

In [6]:
data_csv.describe()

,Lot_Frontage,Lot_Area,Year_Built,Year_Remod_Add,Mas_Vnr_Area,BsmtFin_SF_1,BsmtFin_SF_2,Bsmt_Unf_SF,Total_Bsmt_SF,First_Flr_SF,...,Enclosed_Porch,Three_season_porch,Screen_Porch,Pool_Area,Misc_Val,Mo_Sold,Year_Sold,Sale_Price,Longitude,Latitude
count,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,57.647782,10147.921843,1971.356314,1984.266553,101.096928,4.177474,49.705461,559.071672,1051.255631,1159.557679,...,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068,-93.642897,42.034482
std,33.499441,7880.017759,30.245361,20.860286,178.634545,2.233372,169.142089,439.540571,440.968018,391.890885,...,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357,0.025700,0.018410
min,0.000000,1300.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000,-93.693153,41.986498
25%,43.000000,7440.250000,1954.000000,1965.000000,0.000000,3.000000,0.000000,219.000000,793.000000,876.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000,-93.660217,42.022088
50%,63.000000,9436.500000,1973.000000,1993.000000,0.000000,3.000000,0.000000,465.500000,990.000000,1084.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000,-93.641806,42.034662
75%,78.000000,11555.250000,2001.000000,2004.000000,162.750000,7.000000,0.000000,801.750000,1301.500000,1384.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000,-93.622113,42.049853
max,313.000000,215245.000000,2010.000000,2010.000000,1600.000000,7.000000,1526.000000,2336.000000,6110.000000,5095.000000,...,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000,-93.577427,42.063388

In [16]:
## define el número de colum max a mostrar
pd.set_option('display.max_columns', 6)

## lectura de archivo .txt ####

In [10]:
ames_txt = pd.read_csv("data/ames/ames.txt", delimiter = ";")
ames_txt.head(3)

,MS_SubClass,MS_Zoning,Lot_Frontage,...,Sale_Price,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,...,215000,-93.619754,42.054035
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,...,105000,-93.619756,42.053014
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,...,172000,-93.619387,42.052659

## lectura de archivo .xlsx

In [15]:
ames_xlsx = pd.read_excel("data/ames/ames.xlsx")
ames_xlsx.head(3)

,MS_SubClass,MS_Zoning,Lot_Frontage,...,Sale_Price,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,...,215000,-93.619754,42.054035
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,...,105000,-93.619756,42.053014
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,...,172000,-93.619387,42.052659

## archivo .pkl

In [17]:
## escritura
with open('data/ames.pkl', 'wb') as f:
    pickle.dump(ames_xlsx, f, pickle.HIGHEST_PROTOCOL)

In [18]:
## lectura
with open('data/ames.pkl', 'rb') as f:
    ames_pkl = pickle.load(f)

ames_pkl.head(3)

,MS_SubClass,MS_Zoning,Lot_Frontage,...,Sale_Price,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,...,215000,-93.619754,42.054035
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,...,105000,-93.619756,42.053014
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,...,172000,-93.619387,42.052659