In [1]:
import pandas as pd
from siuba import *
import plydata as pr
import pickle
from plydata.tidy import pivot_wider, pivot_longer

In [3]:
ames_housing = pd.read_csv("data/ames/ames.csv")

In [4]:
(
  ames_housing >>
  mutate(Antique = _.Year_Sold - _.Year_Remod_Add) >>
  mutate(Antique_status = if_else(_.Antique < 10, "new", "old") ) >>
  pr.group_by("Antique_status") >>
  pr.tally()
)
## tally nos ayuda con el conteo es un sininimo de cout

C:\ProgramData\Anaconda3\envs\AMAT\lib\site-packages\plydata\dataframe\common.py:248: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  return (gdf for _, gdf in grouper if not gdf.empty)

  Antique_status     n
0            old  1779
1            new  1151

# pivote horizontal - pivot_wider

In [5]:
with open('data/loc_mun_cdmx.pkl', 'rb') as f:
    loc_mun_cdmx = pickle.load(f)

loc_mun_cdmx

    Ambito                 NOM_MUN  Total_localidades
0    Rural          Álvaro Obregón                  3
1    Rural  La Magdalena Contreras                  8
2    Rural   Cuajimalpa de Morelos                 14
3    Rural                 Tláhuac                 31
4    Rural              Xochimilco                 78
5    Rural                 Tlalpan                 95
6    Rural              Milpa Alta                187
7   Urbano          Álvaro Obregón                  1
8   Urbano            Azcapotzalco                  1
9   Urbano           Benito Juárez                  1
10  Urbano                Coyoacán                  1
11  Urbano              Cuauhtémoc                  1
12  Urbano       Gustavo A. Madero                  1
13  Urbano               Iztacalco                  1
14  Urbano              Iztapalapa                  1
15  Urbano  La Magdalena Contreras                  1
16  Urbano          Miguel Hidalgo                  1
17  Urbano     Venustiano Carranza                  1
18  Urbano              Xochimilco                  1
19  Urbano   Cuajimalpa de Morelos                  2
20  Urbano                 Tlalpan                  4
21  Urbano                 Tláhuac                  5
22  Urbano              Milpa Alta                 10

In [6]:
(
loc_mun_cdmx >>
    pivot_wider(names_from = "Ambito", values_from = "Total_localidades")
)

                   NOM_MUN  Rural  Urbano
0             Azcapotzalco    NaN     1.0
1            Benito Juárez    NaN     1.0
2                 Coyoacán    NaN     1.0
3    Cuajimalpa de Morelos   14.0     2.0
4               Cuauhtémoc    NaN     1.0
5        Gustavo A. Madero    NaN     1.0
6                Iztacalco    NaN     1.0
7               Iztapalapa    NaN     1.0
8   La Magdalena Contreras    8.0     1.0
9           Miguel Hidalgo    NaN     1.0
10              Milpa Alta  187.0    10.0
11                 Tlalpan   95.0     4.0
12                 Tláhuac   31.0     5.0
13     Venustiano Carranza    NaN     1.0
14              Xochimilco   78.0     1.0
15          Álvaro Obregón    3.0     1.0

In [7]:
## para rellenar valores
(
loc_mun_cdmx >>
    pivot_wider(
     names_from = "Ambito", 
     values_from = "Total_localidades", 
     values_fill = 0
    )
)

                   NOM_MUN  Rural  Urbano
0             Azcapotzalco      0       1
1            Benito Juárez      0       1
2                 Coyoacán      0       1
3    Cuajimalpa de Morelos     14       2
4               Cuauhtémoc      0       1
5        Gustavo A. Madero      0       1
6                Iztacalco      0       1
7               Iztapalapa      0       1
8   La Magdalena Contreras      8       1
9           Miguel Hidalgo      0       1
10              Milpa Alta    187      10
11                 Tlalpan     95       4
12                 Tláhuac     31       5
13     Venustiano Carranza      0       1
14              Xochimilco     78       1
15          Álvaro Obregón      3       1

In [9]:
with open('data/us_rent_income.pkl', 'rb') as f:
    us_rent_income = pickle.load(f)

us_rent_income

    GEOID         NAME variable  estimate    moe
0      01      Alabama   income   24476.0  136.0
1      01      Alabama     rent     747.0    3.0
2      02       Alaska   income   32940.0  508.0
3      02       Alaska     rent    1200.0   13.0
4      04      Arizona   income   27517.0  148.0
..    ...          ...      ...       ...    ...
99     55    Wisconsin     rent     813.0    3.0
100    56      Wyoming   income   30854.0  342.0
101    56      Wyoming     rent     828.0   11.0
102    72  Puerto Rico   income       NaN    NaN
103    72  Puerto Rico     rent     464.0    6.0

[104 rows x 5 columns]

In [10]:
(
us_rent_income >>
    select(-_.GEOID) >>
    pivot_wider(
     names_from = "variable", 
     values_from = ["estimate", "moe"]
    )
)

                    NAME  estimate_income  estimate_rent  moe_income  moe_rent
0                Alabama          24476.0          747.0       136.0       3.0
1                 Alaska          32940.0         1200.0       508.0      13.0
2                Arizona          27517.0          972.0       148.0       4.0
3               Arkansas          23789.0          709.0       165.0       5.0
4             California          29454.0         1358.0       109.0       3.0
5               Colorado          32401.0         1125.0       109.0       5.0
6            Connecticut          35326.0         1123.0       195.0       5.0
7               Delaware          31560.0         1076.0       247.0      10.0
8   District of Columbia          43198.0         1424.0       681.0      17.0
9                Florida          25952.0         1077.0        70.0       3.0
10               Georgia          27024.0          927.0       106.0       3.0
11                Hawaii          32453.0         1507.0       218.0      18.0
12                 Idaho          25298.0          792.0       208.0       7.0
13              Illinois          30684.0          952.0        83.0       3.0
14               Indiana          27247.0          782.0       117.0       3.0
15                  Iowa          30002.0          740.0       143.0       4.0
16                Kansas          29126.0          801.0       208.0       5.0
17              Kentucky          24702.0          713.0       159.0       4.0
18             Louisiana          25086.0          825.0       155.0       4.0
19                 Maine          26841.0          808.0       187.0       7.0
20              Maryland          37147.0         1311.0       152.0       5.0
21         Massachusetts          34498.0         1173.0       199.0       5.0
22              Michigan          26987.0          824.0        82.0       3.0
23             Minnesota          32734.0          906.0       189.0       4.0
24           Mississippi          22766.0          740.0       194.0       5.0
25              Missouri          26999.0          784.0       113.0       4.0
26               Montana          26249.0          751.0       206.0       9.0
27              Nebraska          30020.0          773.0       146.0       4.0
28                Nevada          29019.0         1017.0       213.0       6.0
29         New Hampshire          33172.0         1052.0       387.0       9.0
30            New Jersey          35075.0         1249.0       148.0       4.0
31            New Mexico          24457.0          809.0       214.0       6.0
32              New York          31057.0         1194.0        69.0       3.0
33        North Carolina          26482.0          844.0       111.0       3.0
34          North Dakota          32336.0          775.0       245.0       9.0
35                  Ohio          27435.0          764.0        94.0       2.0
36              Oklahoma          26207.0          766.0       101.0       3.0
37                Oregon          27389.0          988.0       146.0       4.0
38          Pennsylvania          28923.0          885.0       119.0       3.0
39           Puerto Rico              NaN          464.0         NaN       6.0
40          Rhode Island          30210.0          957.0       259.0       6.0
41        South Carolina          25454.0          836.0       123.0       4.0
42          South Dakota          28821.0          696.0       276.0       7.0
43             Tennessee          25453.0          808.0       102.0       4.0
44                 Texas          28063.0          952.0       110.0       2.0
45                  Utah          27928.0          948.0       239.0       6.0
46               Vermont          29351.0          945.0       361.0      11.0
47              Virginia          32545.0         1166.0       202.0       5.0
48            Washington          32318.0         1120.0       113.0       4.0
49         West Virginia          23707.0          681.0       203.0       6.0
50             Wisconsin          29868.0          813.0       135.0       3.0
51               Wyoming          30854.0          828.0       342.0      11.0

# Pivote vertical - pivot_longer

In [11]:
with open('data/relig_income.pkl', 'rb') as f:
    relig_income = pickle.load(f)

relig_income

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27.0,34.0,60.0,81.0,76.0,137.0,122.0,109.0,84.0,96.0
1,Atheist,12.0,27.0,37.0,52.0,35.0,70.0,73.0,59.0,74.0,76.0
2,Buddhist,27.0,21.0,30.0,34.0,33.0,58.0,62.0,39.0,53.0,54.0
3,Catholic,418.0,617.0,732.0,670.0,638.0,1116.0,949.0,792.0,633.0,1489.0
4,Don’t know/refused,15.0,14.0,15.0,11.0,10.0,35.0,21.0,17.0,18.0,116.0
5,Evangelical Prot,575.0,869.0,1064.0,982.0,881.0,1486.0,949.0,723.0,414.0,1529.0
6,Hindu,1.0,9.0,7.0,9.0,11.0,34.0,47.0,48.0,54.0,37.0
7,Historically Black Prot,228.0,244.0,236.0,238.0,197.0,223.0,131.0,81.0,78.0,339.0
8,Jehovah's Witness,20.0,27.0,24.0,24.0,21.0,30.0,15.0,11.0,6.0,37.0
9,Jewish,19.0,19.0,25.0,25.0,30.0,95.0,69.0,87.0,151.0,162.0
10,Mainline Prot,289.0,495.0,619.0,655.0,651.0,1107.0,939.0,753.0,634.0,1328.0
11,Mormon,29.0,40.0,48.0,51.0,56.0,112.0,85.0,49.0,42.0,69.0
12,Muslim,6.0,7.0,9.0,10.0,9.0,23.0,16.0,8.0,6.0,22.0
13,Orthodox,13.0,17.0,23.0,32.0,32.0,47.0,38.0,42.0,46.0,73.0
14,Other Christian,9.0,7.0,11.0,13.0,13.0,14.0,18.0,14.0,12.0,18.0
15,Other Faiths,20.0,33.0,40.0,46.0,49.0,63.0,46.0,40.0,41.0,71.0
16,Other World Religions,5.0,2.0,3.0,4.0,2.0,7.0,3.0,4.0,4.0,8.0
17,Unaffiliated,217.0,299.0,374.0,365.0,341.0,528.0,407.0,321.0,258.0,597.0

In [18]:
(
 relig_income >>
 pivot_longer(
  cols = ['<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k', '$50-75k',
          '$75-100k', '$100-150k', '>150k', "Don't know/refused"], 
  names_to = "income", 
  values_to = "count")
)

                  religion              income  count
0                 Agnostic               <$10k   27.0
1                  Atheist               <$10k   12.0
2                 Buddhist               <$10k   27.0
3                 Catholic               <$10k  418.0
4       Don’t know/refused               <$10k   15.0
..                     ...                 ...    ...
175               Orthodox  Don't know/refused   73.0
176        Other Christian  Don't know/refused   18.0
177           Other Faiths  Don't know/refused   71.0
178  Other World Religions  Don't know/refused    8.0
179           Unaffiliated  Don't know/refused  597.0

[180 rows x 3 columns]